[Unit]
Description=Prepare frigate
Before=docker-compose@frigate.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/share/frigate/prepare-frigate.sh

[Install]
WantedBy=multi-user.target